{
  "singleQuote": true,
  "trailingComma": "all",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": ["^src/(.*)$", "^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
